/* Slider */
.o-slider{
    margin-top: 100px;   
    padding: 0 20%;
}

/* Info */
.o-contInfo{
    width: 80%;
    margin: 0 10%; 
}

.o-contTitle h1{
    text-align: center;
    padding-top: 15px;
}

.o-contText p{
    text-align: justify;
}

.o-small{
    width: 100%;
    text-align: right !important;
    color: #79859b;
}
